<div class="container">
    <h1>Générer un guide</h1>
    <hr style="background-color: #386712;">
<form ngNoForm action="http://127.0.0.1:5000/" method="GET">
    <div class="row">
        <div class="col col-md-6">
    <div class="form-group">
    <label for="Raison">Raison social</label>
    <input id="Raison" type="text" class="form-controls">
    </div>
    <div class="form-group">
        <label for="Email">E-mail</label>
        <input id="Email" type="email" class="form-controls">
    </div>
    <div class="form-group">
        <label for="Tel">Téléphone</label>
        <input id="Tel" type="number" class="form-controls">
    </div>
    <div class="form-group">
        <label for="Adresse">Adresse</label>
        <input id="Adresse" type="text" class="form-controls">
    </div>
    
    

<div class="col col-md-6" >
    <div class="form-group">
    <label for="Equipement">Equipement</label>
    <input id="Equipement" type="text" name = "Equipement" class="form-controls">
    </div>
    <div class="form-group">
        <label for="Marque">Marque</label>
        <input id="Marque" type="text" class="form-controls">
    </div>
    <div class="form-group">
        <label for="Modele">Modèle</label>
        <input id="Modele" type="text" class="form-controls">
    </div>
    <div class="form-group">
        <label for="NumProjet">Numéro du projet</label>
        <input id="NumProjet" type="number" class="form-controls" >
    </div>
        <button class="btn btn-light" type = "submit" value="submit" style="background-color: #9B246E ; color:#fff;">Générer un guide</button>

</div>
</div></div>
    
</form>
<hr style="background-color: #386712;">
</div>